{% extends 'base/main.html' %}
{% load static %}
{% block title %}Lobby{% endblock %}
{% block content %}

<div class="mt-10 mb-10 mr-60 ml-60 px-6 py-12 bg-gray-100 rounded-xl">
    
    <div class="px-4 py-4 w-full rounded-xl border">
        Enter Room Name:
        <input type="text" name="room-name"/> 
    </div>
    <div class="px-4 py-4 w-full rounded-xl border mt-4">
        Enter Your Name:
        <input type="text" name="user-name"/> 
    </div>
    <button class="bg-teal-500 text-white rounded-xl px-4 py-4 ml-10 mt-4">Go</button>
</div>

{% endblock %}